[Desktop Entry]
Icon=application-vnd.google-apps.spreadsheet
Name=MOC-410_Key_nirmalya
Type=Link
URL=https://docs.google.com/a/broadinstitute.org/spreadsheets/d/1XyxJ3ENHYS35G23HeX6Cad_PNskfj_hX83eqeRsgHJs/edit?usp=drivesdk
