[Desktop Entry]
Icon=application-vnd.google-apps.spreadsheet
Name=reverse_file
Type=Link
URL=https://docs.google.com/spreadsheets/d/1OOQ6eSFF48wyZwUXmsOcJM7uUsOODdkYH99cnc0KOcg/edit?usp=drivesdk
